ENV="development"
DEBUG="true"
APP_URL=


# --- Database

DB_MODE="development"

# Development
DB_HOST_DEV="localhost"
DB_PORT_DEV=3306
DB_USERNAME_DEV="root"
DB_PASSWORD_DEV="root"
DB_DATABASE_DEV=

# Production
DB_HOST_PROD=
DB_PORT_PROD=
DB_USERNAME_PROD=
DB_PASSWORD_PROD=
DB_DATABASE_PROD=
